nav {
	background-color: grey;
	border-radius: 3px;
	padding: 5px;
	width: 100%;
	text-align: center;

}

.logo {
	padding-top: 0;
	text-align: left;
	clear: both;
}

body {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.anchor {
	text-decoration: none;
}

.base-class {
	float:right;
}

.btn {
	float: right;
	background-color: #0CAC0C;
	padding: 5px;
	width: 100px !important;
	border-radius: 10px;
	margin: 3px;
}

.btn1 {
	background-color: #0CAC0C;
	color: white;
	padding: 15px;
	border-radius: 5px;
}

.btn-danger {
	background-color: rgba(255, 0, 0, 0.62);
	color: whitesmoke;
}

.btn-warning {
	background-color: orange;
	color: whitesmoke;
}

.submit-btn {
	margin-top: 1%;
}

nav ul {
	padding-bottom: 0;
	text-align: right;
}

nav ul p {
	display: inline;
	clear: right;

}
nav ul li {
	display: inline-block;
	padding: 0;

}

nav ul li a {
	
	text-decoration: none;
	color: #f6f6f6;
	padding:0 5px 0 5px;
	border-radius: 5px;

}

.flash {
	color: red;
	padding-left: 31%;
	width: 400px;
	text-align: center;
  }

  .flash-success {
	color: green;
	padding-left: 31%;
	width: 400px;
	text-align: center;
  }

.div-main {
	color: #b30000;
	text-align: center;
	background-image: url("img/bucketlist.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;

}

.div-main p {
	padding: 0 0 10px 0;
}

.reg-div {
	text-align: center;
	margin: 5% 20% 5% 20%;
}

.reg-div form {
	background-color: #F7ECE3;
	padding: 5%;
}

.reg-div form a {
	text-decoration: none;
}

.reg-div form label {
	font-family: fantasy;
}

.reg-div form input {
	width: 20%;
	padding: 10px;
	border-radius: 5px;
	box-shadow:rosybrown; 
}

.deep-div {
	padding: 4%;
	background-color: bisque;
	text-align: center;
}

table td {
	padding-right: 4px;
}

table {
	padding-left: 30%;
	}

.activity-table {
	padding-right: 5%; 
}


.login-form {
	margin: 0;
}

.field-set {
	padding: 5% 0 5% 0;
}

#add-act-header {
	padding-left: 3.8%;
	color: blue;
}



.login-div {
	text-align: center;
	margin: 10px 10px 10px 20px;
}

.login-div form {
	background-color: #F7ECE3;
	padding: 3%;
}

.login-div form a {
	text-decoration: none;

}

.login-div form input {
	width: 20%;
	padding: 10px;
	border-radius: 5px;
}

#create-header {
	padding-left: 5.8%;
	color: blue;

}

.create-div {
	text-align: center;
	padding: % 5% 9% 5%;

}

.create-div form {
	background-color: #F7ECE3;
	padding: 8%;
}

.create-div form h2 {
	color: blue;
}

.create-div form input {
	padding: 10px;
}
.view-dash {
	text-align: center;
	background-color: #F7ECE3;
	padding: 80px;
}

.view-dash h1 {
	color: blue;
}

#content {
	padding: 5% 5% 7% 5%;
}


footer  {
	background-color: #4d4d4d;
	position: relative;
	bottom: 0px;
	width: 100%;
	left: 0%;
	border-radius: 3px;
	text-align: center;
	padding: 50px 0px 50px 0px!important;
}
