body,
html{
    width: 100%;
    height: 100%;
    background: #95a5a6;
}
.home{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    height: 500px;
    width: 500px;
    background: #ffffff;
}
.content{
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in{
    padding: 15px;
}
.logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid #7e0c15;
    color: #af0909;
    margin-bottom: 20px;
    padding: 5px;
    line-height: 90px; 
    border-style: color;
}
.logo h1{
    font-weight: 800;
    font-size: 40px;
}
input[type=text],input[type=password]{
    background: 0 0;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #afb5c1;
    border-radius: 0;
    margin-bottom: 20px !important;
}
.lg{

}
.input-group-addon{
    background: 0 0;
    border: 0;
    color: #afb5c1;
}
.btn-success{
    border: 0;
    background: #65A51B;
    border-radius: 30px;
}
input[type=text],input[type=password]:focus{
    box-shadow: none;
}