{% extends "layout.html" %}
{% block title %}Edit Bucketlist{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% from "include/_formhelpers.html" import render_field %}

<div class="create-div">
	<form method="POST" >
		 <h2 id="add-act-header">Edit Bucketlist</h2>
		 {% for message in get_flashed_messages() %}
		 {% if error %}
			 <div class="flash">{{ message }}</div>
		 {% else %}
			 <div class="flash-success">{{ message }}</div>
		 {% endif %}
	 {% endfor %}


		{{ render_field(form.title) }} 
		{{ render_field(form.description) }}
		<dd class="submit-btn"><input class="btn1" type="submit" value="Edit"></dd>
	</form>
</div>
{% endblock %}