<!DOCTYPE <html>
  <html lang="en">
      <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Shopping Cart | Dashboard </title>
  
          <!-- Include Bootstrap Files -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="/static/styles/dashboard.css">
  
      </head>
      <body>

          <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">

                  <!-- Collapsed Hamburger -->
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                      <span class="sr-only">Toggle Navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                  <!-- Branding Image -->
                  <a class="navbar-brand" href="/">
                      Events Manager
                  </a>
              </div>

              <div class="collapse navbar-collapse" id="app-navbar-collapse">
                  <!-- Left Side Of Navbar -->
                  <ul class="nav navbar-nav">
                      &nbsp;
                  </ul>

                  <!-- Right Side Of Navbar -->
                  <ul class="nav navbar-nav navbar-right">
                      
                      <li>
                          <a href="#">Add Event</a>
                      </li>            
                      <li>
                          <a href="#"> Joel Mungai</a>
                      </li>
                      <li>
                          <a href="#">logout</a>
                      </li>
                                  
                  </ul>
              </div>
                
              </div>
            </nav>
            <div class="jumbotron text-center">
              <h1>Events Page</h1>
              <p>all you need to know about events!</p> 
            </div>
<div class="content">
  <div class="row">
      <div class="col-sm-4">
          <h3>Event 1</h3>
          <p>bootcamp event, to happen on 10th november at nairobi</p>
          <p>All egar to learn should seek out more info on "___"</p>
          <a href="#" class="btn btn-success">Read More</a>
        </div>
        <div class="col-sm-4">
          <h3>Event 2</h3>
          <p>anime premier, to be held at ngong on 15th of november</p>
          <p>All wishing to be a part to call for more details</p>
          <a href="#" class="btn btn-success">Read More</a>
        </div>
        <div class="col-sm-4">
          <h3>Event 3</h3>        
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          <a href="#" class="btn btn-success">Read More</a>
        </div>

  </div>

  <nav aria-label="pages">
          <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
          </ul>
        </nav>
                
</div>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </body>
  </html>
  