<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/main.css') }}">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <nav "base-class">
            <ul>
                {% if session['logged_in'] %}
                
                    {% for href, caption in[
                        ('/index', 'Home'),('/dashboard', 'Dashboard'),('/create_bucketlist', 'Create'),
                         ('/logout', 'Log out')] %}
                    <li>
                        <a href="{{ href }}">{{ caption }}</a>
                    </li>
                    {% endfor %}
                
                {% elif not session['logged_in'] %}
                
                    {% for href, caption in[('/index', 'Home'), ('/register', 'Register'),
                                    ('/login', 'Log in')] %}
                    <li>
                    <a href="{{ href }}">{{ caption }}</a>
                    </li>
                    {% endfor %}    

                {% endif %}
            </ul>
        </nav>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
        {% block footer %}
        {% include "include/_footer.html"%}
        {% endblock %}
        </div>
    </body>
</html>