{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% from "include/_formhelpers.html" import render_field %}
<div class="login-div">
				<form class="login-form" method='post' action="/login">
					<h3>Login</h3>
					{% for message in get_flashed_messages() %}
						{% if error %}
							<div class="flash">{{ message }}</div>
						{% else %}
							<div class="flash-success">{{ message }}</div>
						{% endif %}
					{% endfor %}
					<fieldset class="field-set">
					{{ render_field(form.email) }}
					{{ render_field(form.password) }}

					<dd class="submit-btn"><input class="btn1" type="submit" value="Log in"></dd>
				</fieldset>
		</form>
</div>
{% endblock %}